
html{
    font-size: 62.5%;/**Reset para REMS - 62.5% = 10px de 16px**/
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
     font-family: "Lato", sans-serif; 
     font-size: 1.6rem;
      line-height: 2;
}




/* Globales */
img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem; /** = 1200px **/
    margin: 0 auto; /* como manecillas de un reloj, las 12 es la parte de arriba, las 3 es el lado derecho, las 6 el margen de abajo y las 9 el lado izquierdo*/

    /*margin-left: auto;
    margin-left: auto;*/
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem ;
}
h4{
    font-size: 2.6rem;
}



/*Utilidades*/
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300{
    font-weight: 300;
}
.centrar-texto{
    text-align: center;
}
.d-block{
    display: block!important; /* el (!important) se usa para ignorar la regla de estilo en cascada */
}

/*Botones*/
.boton{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;

}
.boton-amarillo{
    background-color: #E08709;
}
.boton-verde{
    background-color: #71B100;
}




/*Header*/
.site-header{
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}
.site-header.inicio{
    background-image: url(../img/header.png);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}
.logo{
  width: 380px;      /* ajusta el tamaño */
  height: auto; 

}
.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenido-header h1{
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}
.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}




/* Navegación */
.navegacion a{
    color: rgba(255,255,255, .7); /* el .7 (el numero varia )es para agregarle transparencia al color y solo se puede con rgba y hlsa*/
    text-decoration: none;
    font-size: 1.8rem; /** =18px **/
    margin-right: 2rem; /*separacion entre los elementos*/
}

.navegacion a:hover{
    color: #71B100;
}
.navegacion a:last-of-type{ /* para seleccionar el ultimo elemento*/
    margin-right: 0;
}




/*Iconos nosotros*/
.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}
.icono{
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}
.icono h3{
    text-transform: uppercase;
}



/*Tamaño de imagenes iconos*/
.tamaño{
  max-width: 180px;
  width: 100%;
  height: 100px;
  object-fit: contain;
}




/*Anuncios*/
.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.anuncio{
    flex:0 0 calc(33.3% - 1rem); /*flex-grow - flex-shrink - flex-basis */
    border: 1px solid #B5B5B5; /* width style color*/
    background-color:#F5F5F5;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
.contenido-anuncio{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.contenido-anuncio h3,
.contenido-anuncio p{
    margin: 0;
}
.precio{
    color: #71B100 ;
    font-weight: 700;
}
.iconos-caracteristicas{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
.iconos-caracteristicas li{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.iconos-caracteristicas li img{
    margin-right: 2rem;
}
.icon-img {
  width: 40px;          /* tamaño uniforme */
  height: 40px;
  object-fit: contain;  /* mantiene proporción sin deformar */
  display: inline-block;
  vertical-align: middle;
  margin: 2px;          /* separación entre iconos */
  cursor: pointer;      /* estilo interactivo */
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.icon-img:hover {
  transform: scale(1.1); /* efecto zoom suave */
  opacity: 0.85;
}
.ver-todas{
     display: flex;
    justify-content: flex-end;
}




/*Contacto Home*/
.imagen-contacto{
    background-image: url(../img/imagen_contacto.png);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}
.contenido-contacto{
    flex: 1;
    color: #ffffff;
}
.contenido-contacto p{
    font-size: 1.8rem;
}



/*Seccion inferior*/
.seccion-inferior{
    display: flex;
    justify-content: space-between;
}
.seccion-inferior .blog{
    flex-basis: 60%;
}
.seccion-inferior .testimonios{
    flex-basis: calc(40% - 2rem);
}
.entrada-blog{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem ;
}
.entrada-blog:last-of-type{
    margin-bottom: 0;
}
.entrada-blog .imagen{
    flex-basis: 40%;
}
.entrada-blog .texto-entrada{
    flex-basis: calc(60% - 3rem);
}
.texto-entrada a{
    color: #000000;
    text-decoration: none;
}
.texto-entrada h4{
    margin: 0;
    line-height: 1.4;
}
.texto-entrada h4::after{
    content:'';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71B100;
    margin-top:1rem;
}

.texto-entrada span{
    color: #E08709;
}
/*Testimoniales*/
.testimonial{
    background-color: #71B100;
    font-size: 2.4rem;
    padding: 2rem;
    color:#ffffff;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.testimonial p{
    text-align: right;
}

.testimonial blockquote{
    position: relative;
    padding-left: 6rem;   /* espacio para la comilla */
    font-weight: 300;
}

/* comillas */
.testimonial blockquote::before{
    content: "";
    position: absolute;
    top: 0.5rem;          /* baja un poco */
    left: 0;

    width: 4rem;
    height: 4rem;

    background-image: url(../img/comillas.png);
    background-repeat: no-repeat;
    background-size: contain;  /* ajusta la imagen */
    display: block;
}


/*Footer*/
.site-footer{
    background-color: #333333;
    margin: 0;
}
.contenedor-footer{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}
.copy{
    margin: 0;
    color: #ffffff;
}

/*Paginas INTERNAS*/

.contenido-nosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);/*divide la pagina en columnas (1fr) significa una fraccion*/
    grid-column-gap: 2rem; /*agrega el espacio entre las columnas*/
}
.texto-nosotros blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
}
